<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="consutipos"></ion-back-button>
    </ion-buttons>
    <ion-title>Tipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input type="text" [(ngModel)] ='tipo.descricao' name = "descricao"></ion-input>
    </ion-item>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" >Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
